html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  background: #fefefe;
}

img {
  user-select: none;
  pointer-events: none;
}

.main-container {
  font-family: TTNormsPro;
  font-weight: regular;
  color: #22133e;
}

@font-face {
  font-family: TTNormsPro;
  src: url("fonts/TT_Norms_Pro-Medium.otf");
  font-weight: medium;
}

@font-face {
  font-family: TTNormsPro;
  src: url("fonts/TT_Norms_Pro-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: TTNormsPro;
  src: url("fonts/TT_Norms_Pro-Regular.otf");
  font-weight: regular;
}
